################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
