################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/CSOneNoteRibbonAddIn/bin/Debug
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/CSOneNoteRibbonAddIn/obj
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/CSOneNoteRibbonAddIn/.vs
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/CSOneNoteRibbonAddIn/bin/Debug
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/CSOneNoteRibbonAddIn/obj
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/.vs/CSOneNoteRibbonAddIn
/[C#]-C# OneNote Ribbon addin (CSOneNoteRibbonAddIn)/C#/POC_app
